.Header-client-outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    min-height: 80px;
    
    
}

.Header-client-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header-client-navbar ul{
    display: flex;
    gap: 20px;
    
}

.search-bar input{
    padding: 10px;
    border-radius: 28px;
    border: none;
    outline: none;
    font-size: 20px;
    width:100%;
    max-width: 500px;
    
    
}

.search-bar{
    border: 2px solid;
    border-radius: 28px;
    width:100%;
    max-width: 500px;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 8px;

}

.search-radio{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.radio-input{
   
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.radio-input input{
    height:20px;
    width:20px;
    cursor: pointer;
}
.cart-icon p{
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 800;
    color: brown;
    text-align: center;
    display: inline-block;
    
} 

.Header-client-navbar ul li{
    list-style: none;
    cursor: pointer;
    padding: 15px;
}

.logo i{
    font-size: 50px;
    color: red;
}

@media(max-width: 850px){
    .Header-client-navbar ul{
        
        flex-direction: column;
        gap:2px;
        
    }

    .Header-client-navbar ul li{
        padding: 8px;
    }
    
    .Header-client-outer{
        padding: 10px;
    }

}

@media(max-width:460px){
    .Header-client-inner h1{
        display: none;
    }
}
